.basket-container {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.basket-count-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  top: -1px;
  right: 10px;
  font-size: 0.7rem;
  color: antiquewhite;
  font-weight: bold;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
